@model OnlineFoodOrdering.Models.Entity.Food

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCategoryDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
