@model OnlineFoodOrdering.Models.Entity.Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>

<div>
    <h4>Order Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order ID
        </dt>
        <dd class="col-sm-10">
            @Model.OrderId
        </dd>
        <dt class="col-sm-2">
            User ID
        </dt>
        <dd class="col-sm-10">
            @Model.UserId
        </dd>
        <dt class="col-sm-2">
            Order Date
        </dt>
        <dd class="col-sm-10">
            @Model.OrderDate
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            @Model.TotalPrice
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            Delivery Address
        </dt>
        <dd class="col-sm-10">
            @Model.DeliveryAddress
        </dd>
        <dt class="col-sm-2">
            Payment Method
        </dt>
        <dd class="col-sm-10">
            @Model.PaymentMethod
        </dd>
        @if(Model.Feedback != null)
        {
            <dt class="col-sm-2">
                Feedback
            </dt>
            <dd class="col-sm-10">
                @Model.Feedback
            </dd>
        }
       
    </dl>
</div>

<div>
    <h4>Order Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in Model.OrderItems)
            {
                <tr>
                    <td>@orderItem.Food.FoodName</td>
                    <td>@orderItem.Quantity</td>
                    <td>@orderItem.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (User.IsInRole("Admin")){
<a asp-action="ManageOrderStatus" class="btn btn-secondary">Back to List</a>
}else{
<a asp-action="OrderHistory" class="btn btn-secondary">Back to List</a>
}
